<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Frests</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Frests is a modern way of finding restaurants">
        <meta name="author" content="Abdul Fattah">
        <link rel="icon" href="./images/icons/icon-frests.svg">
    </head>
    <body>
        <skip-elmnt></skip-elmnt>
        <header-elmnt></header-elmnt>
        
        <main>
            <hero-elmnt></hero-elmnt>
            <card-box id="content"></card-box>
            <review-box></review-box>
        </main>
        
        <footer-elmnt></footer-elmnt>
    </body>
</html>
